{% extends 'layout.html' %}
{% block content %}
<h1>Let's play!</h1>
<a class="btn waves-effect waves-light right" href="{% url 'games' %}">Back to games</a>
<h4>{{ game }}</h4>
You are: <strong>{{ colour }}</strong>

{% if game.board.winner %}
<div class="card-panel">The winner is {{ game.board.winner }}</div>
{% else %}
<div class="card-panel">It's <strong>{{ game.whose_turn }}</strong>'s turn</div>
{% endif %}

<table>
	{% for row in game.board.rows %}
	<tr>
		{% for coin in row %}
			<td>
			{% if coin %}
				<div class="coin {{coin.colour}}"></div>
			{% else %}
				<form method="POST" action="{% url 'games' game.id %}">
					{% csrf_token %}
					<input type="hidden" name="column" value="{{ forloop.counter0 }}">
					<input type="hidden" name="game_id" value="{{ game.id }}">
					<button type="submit">place</button>
				</form>
			{% endif %}
			</td>
		{% endfor %}
	</tr>
	{% endfor %}
{% endblock %}
