@import 'variables';
@import '../bower_components/Materialize/sass/materialize';

h1 {
	color: $primary-color;
}

.card-panel {
	background: $primary-color;
	color: white;

	a {
		color: $secondary-color;
	}
}