@import 'variables';
@import '../bower_components/Materialize/sass/materialize';

h1 {
	color: $primary-color;
}

.card-panel {
	background: $primary-color;
	color: white;

	a {
		color: $secondary-color;
	}
}

.coin {
	width: 30px;
	height: 30px;
	border: 30px solid;
	border-radius: 30px;

	&.yellow {
		border-color: yellow;
	}

	&.red {
		border-color: red;
	}
}